.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  color: #fafafa;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: fit-content;
  border-radius: 3px;
  transition: all 0.1s ease;
}

.button-success {
  background-color: #43A047;
}

.button-success:hover {
  background-color: #66BB6A;
}

.button-primary {
  background-color: #3498db;
}

.button-primary:hover {
  background-color: #64B5F6;
}

.button-danger {
  background-color: #c0392b;
}

.button-danger:hover {
  background-color: #f44336;
}
