body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* MAIN APP STYLES */

h1 {
  font-size: 36px;
  color: #212121;
}

.form-user {
  width: 256px;
  margin: auto;
  padding: 20px;
}

.form-user ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-user ul li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-user ul li + li {
  margin-top: 25px;
}

.form-user ul li label {
  color: #757575;
  font-size: 14px;
}

.form-user ul li input {
  border: none;
  border-bottom: #9E9E9E solid 2px;
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
}

.form-user ul li input:focus {
  border-bottom: #3498db solid 2px;
}

.sign-in-links {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  color: #fafafa;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: fit-content;
  border-radius: 3px;
  transition: all 0.1s ease;
}

.link-button-success {
  background-color: #43A047;
}

.link-button-success:hover {
  background-color: #66BB6A;
}

.link-button-primary {
  background-color: #3498db;
}

.link-button-primary:hover {
  background-color: #64B5F6;
}

.link-button-danger {
  background-color: #c0392b;
}

.link-button-danger:hover {
  background-color: #f44336;
}

.app > * {
  display: none;
  padding: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

.app > :last-child {
  display: block;
}

.app > *:target {
  display: block;
}

.app > *:target ~ * {
  display: none;
}