body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* MAIN APP STYLES */

h1 {
  font-size: 36px;
  color: #212121;
}

h2 {
  font-size: 30px;
  color: #424242;
}

h3 {
  font-size: 26px;
  color: #616161;
}

h4 {
  font-size: 22px;
  color: #757575;
  font-weight: 200;
}

.form-user {
  width: 256px;
  margin: auto;
  padding: 20px;
}

.form-user ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-user ul li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-user ul li + li {
  margin-top: 25px;
}

.form-user ul li label {
  color: #757575;
  font-size: 14px;
}

.form-user ul li input {
  border: none;
  border-bottom: #9E9E9E solid 2px;
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
}

.form-user ul li input:focus {
  border-bottom: #3498db solid 2px;
}

.sign-in-links {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.app > * {
  display: none;
  padding: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

.app > :last-child {
  display: block;
}

.app > *:target {
  display: block;
}

.app > *:target ~ * {
  display: none;
}

.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: row wrap;
}

.promotion-cell {
  flex: 1;  
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.promotion-image-container {
  top: 0;
  left: 0;
  height: 125px;
  width: 125px;
}

.promotion-image-container > img {
  display: block;
  height: 115px;
  width: 115px;
  margin: 5px;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.promotion-cell:hover > .promotion-image-container > img {
  margin: 0px;
  height: 125px;
  width: 125px;
}

.promotion-text-container {
  margin: 10px;
}

.promotion-text-container h4 {
  margin: 0 0 10px 0;
}

.promotion-text-container p {
  margin: 0;
}

.promotion-text-container .big-price-tag {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.flex-item header {
  flex: 1 100%;
  padding: 10px;
}

.small-separator-line {
  width: 50px;
  border-bottom: #212121 solid 3px;
}

.landing-logo {
  width: auto;
  text-align: center;
  margin: 20px;
}

.landing-logo img {
  width: 150px;
  height: 150px;
}

.landing-logo p {
  font-family: 'Cream', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.ads {
  height: 150px;
  width: 100%;
  margin: 10px 0 0 10px;
  overflow: hidden;
}
    
.ads img {
  display: block;
  height: 100%;
  width: auto;
  margin: auto;
}
