body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* MAIN APP STYLES */

h1 {
  font-size: 36px;
  color: #212121;
}

h2 {
  font-size: 30px;
  color: #424242;
}

.form-user {
  width: 256px;
  margin: auto;
  padding: 20px;
}

.form-user ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-user ul li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-user ul li + li {
  margin-top: 25px;
}

.form-user ul li label {
  color: #757575;
  font-size: 14px;
}

.form-user ul li input {
  border: none;
  border-bottom: #9E9E9E solid 2px;
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
}

.form-user ul li input:focus {
  border-bottom: #3498db solid 2px;
}

.sign-in-links {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.app > * {
  display: none;
  padding: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

.app > :last-child {
  display: block;
}

.app > *:target {
  display: block;
}

.app > *:target ~ * {
  display: none;
}

.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: row wrap;
  background: #c2e0f4;
}

.flex-container div {
  flex: 1;
  margin: 10px;
  padding: 3%;
  background: #add5f0;
  text-align: center;
}

.flex-item header {
  flex: 1 100%;
  padding: 10px;
}

.ads {
  margin: 10px 0 0 10px;
  background: #c2e0f4;
  height: 250px;
  object-fit: contain;
}
