.header-navbar {
  top: 0;
  width: 100%;
  height: 75px;
  background: #3498db;
  color: #fafafa;
  display: flex;
  align-content: flex-start;
  box-shadow: #00000055 0px 0px 5px;
}

.header-navbar > * {
  margin: auto;
  display: inline-block;
}

.header-navbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

/* NAVBAR STYLES */

.navbar-logo, .navbar-user {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: row;
}

.navbar-logo > a {
  font-family: "Cream", sans-serif;
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin: auto;
  margin-left: 20px;
  transition: all 0.2s ease;
}

.navbar-logo > a:hover {
  color: #fafafa;
  font-size: 26px;
}

.navbar-user > p {
  margin: auto;
  margin-right: 20px;
}

.navbar-menu-container {
  position: relative;
  cursor: pointer;
}

.navbar-menu-container:hover .navbar-menu {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0px;
}

.navbar-menu {
  opacity: 0;
  pointer-events: none;
  margin-top: -10px;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  padding-top: 59.5px;
  transition: all 0.2s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-menu-content {
  position: relative;
  background-color: white;
  box-shadow: #00000055 0px 0px 5px;
  /* border: #3498db solid 2px; */
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  color: #212121;
}

.navbar-menu-content ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-menu-content ul li {
  padding: 8px 25px;
  cursor: pointer;
}

.navbar-menu-content ul li:hover {
  background-color: #FAFAFA;
}

.navbar-menu-content ul li i {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  color: #757575;
}

.navbar-menu-content ul li a {
  color: #757575;
  text-decoration: none;
}

.navbar-sections > * {
  display: none;
}

.navbar-sections > :last-child {
  display: block;
}

.navbar-sections > *:target {
  display: block;
}

.navbar-sections > *:target ~ * {
  display: none;
}

.navbar-notification > i {
  position: relative;
  font-size: 25px;
  margin: auto;
  line-height: 40px;
  padding: 0px 5px;
}
